Repository Tsuyoshi84/learn_tagalog: changes, and which lefthook commands are due for each by the changed paths.
All: biome-format, biome-lint

biome-format:
  run: bun format --staged --no-errors-on-unmatched

biome-lint:
  run: bun lint:biome:fix --staged --no-errors-on-unmatched

Update app/composables/useMatchWords.spec.ts
  app/composables/useMatchWords.spec.ts
Due: biome-format, biome-lint

Update useMatchWords
  app/composables/useMatchWords.spec.ts
  app/composables/useMatchWords.ts
  app/pages/match-words.vue
Due: biome-format, biome-lint

Fix imports
  app/composables/useMatchWords.spec.ts
  app/pages/match-words.vue
Due: biome-format, biome-lint

refactor: Extract match words logic and make it composable (#350)
  app/composables/useMatchWords.spec.ts
  app/composables/useMatchWords.ts
  app/pages/match-words.vue
Due: biome-format, biome-lint

Update Cursor & Coderabbit rules
  .coderabbit.yaml
  .cursor/rules/test.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/vue.mdc
Due: none

chore: Update Cursor & Coderabbit rules (#351)
  .coderabbit.yaml
  .cursor/rules/test.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/vue.mdc
Due: none

Use interface over type
  app/composables/useSentenceQuiz.ts
  app/composables/useTextSearch.ts
  app/database-generated.types.ts
  app/pages/index.vue
  eslint.config.mjs
  server/utils/getNextMemoryLevel.ts
Due: biome-format, biome-lint

chore: Use interface over type (#352)
  app/composables/useSentenceQuiz.ts
  app/composables/useTextSearch.ts
  app/database-generated.types.ts
  app/pages/index.vue
  eslint.config.mjs
  server/utils/getNextMemoryLevel.ts
Due: biome-format, biome-lint

Update vue-tsc to 3.0
  bun.lock
  package.json
Due: biome-format

Enable strictTemplate
  tsconfig.json
Due: biome-format

Fix strictTemplates errors
  app/@types/allowed-component-props.d.ts
  app/components/WordBlock.vue
  app/pages/admin/texts.vue
  app/pages/login.vue
Due: biome-format, biome-lint

chore: Update vue-tsc to 3.0 (#353)
  app/@types/allowed-component-props.d.ts
  app/components/WordBlock.vue
  app/pages/admin/texts.vue
  app/pages/login.vue
  bun.lock
  package.json
  tsconfig.json
Due: biome-format, biome-lint

Update Nuxt
  bun.lock
  package.json
Due: biome-format

Update Nuxt to 3.17.6
  bun.lock
  package.json
Due: biome-format

Update test-utils
  bun.lock
  package.json
Due: biome-format

Update nuxt config
  nuxt.config.ts
Due: biome-format, biome-lint

Add override
  bun.lock
  package.json
Due: biome-format

Disable Knip
  .github/workflows/ci.yml
  nuxt.config.ts
Due: biome-format, biome-lint

Update Coderabbit rules
  .coderabbit.yaml
Due: none

Update cursor rules
  .cursor/rules/vue.mdc
Due: none

Add main.css
  app/assets/css/main.css
  nuxt.config.ts
Due: biome-format, biome-lint

Use plain CSS instead of Tailwind
  app/components/WordBlock.vue
  app/composables/useMatchWords.ts
Due: biome-format, biome-lint

Update .cursor/rules/vue.mdc
  .cursor/rules/vue.mdc
Due: none

Update rules
  .coderabbit.yaml
  .cursor/rules/vue.mdc
Due: none

Remove redundant CSS
  app/assets/css/main.css
Due: none

refactor: Use plain CSS instead of Tailwind for WordBlock (#354)
  .coderabbit.yaml
  .cursor/rules/vue.mdc
  app/assets/css/main.css
  app/components/WordBlock.vue
  app/composables/useMatchWords.ts
  nuxt.config.ts
Due: biome-format, biome-lint

Use plain CSS
  .cursor/rules/vue.mdc
  app/assets/css/main.css
  app/components/BaseModal.vue
  app/components/LevelSelectorModal.vue
  app/components/MemoryLevelMeter.vue
  app/components/NavigationMenu.vue
  app/components/TextList.vue
  app/components/TextListItem.vue
  app/error.vue
  app/pages/index.vue
  app/pages/login.vue
  app/pages/match-words.vue
  app/pages/quiz.vue
  lefthook.yaml
Due: biome-format, biome-lint

Remove TailwindCSS
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  app/assets/css/main.css
  app/assets/css/tailwind.css
  app/tailwind.config.ts
  bun.lock
  knip.jsonc
  nuxt.config.ts
  package.json
  prettier.config.cjs
Due: biome-format, biome-lint

Reduce motions
  app/assets/css/main.css
Due: none

Update CSS
  app/assets/css/main.css
Due: none

refactor: Stop using TailwindCSS (#355)
  .cursor/rules/vue.mdc
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  app/assets/css/main.css
  app/assets/css/tailwind.css
  app/components/BaseModal.vue
  app/components/LevelSelectorModal.vue
  app/components/MemoryLevelMeter.vue
  app/components/NavigationMenu.vue
  app/components/TextList.vue
  app/components/TextListItem.vue
  app/error.vue
  app/pages/index.vue
  app/pages/login.vue
  app/pages/match-words.vue
  app/pages/quiz.vue
  app/tailwind.config.ts
  bun.lock
  knip.jsonc
  lefthook.yaml
  nuxt.config.ts
  package.json
  prettier.config.cjs
Due: biome-format, biome-lint

Add reset style
  app/assets/css/main.css
Due: none

Fix modal style
  app/components/BaseModal.vue
Due: biome-format, biome-lint

Fix reset style
  app/assets/css/main.css
Due: none

Update app/assets/css/main.css
  app/assets/css/main.css
Due: none

refactor: Add reset style (#356)
  app/assets/css/main.css
  app/components/BaseModal.vue
Due: biome-format, biome-lint

Update cursor rules
  .cursor/rules/css.mdc
  .cursor/rules/shared.mdc
  .cursor/rules/test.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/utils.mdc
  .cursor/rules/vue.mdc
Due: none

Fix test
  .cursor/rules/test.mdc
Due: none

Path conditions:
  biome-format: any of: *.{js,ts,jsx,tsx,vue,json}
  biome-lint: any of: *.{js,ts,jsx,tsx,vue}
