Repository Tsuyoshi84/learn_tagalog: changes, and which lefthook commands are due for each by the changed paths.
All: biome-format, biome-lint

biome-format:
  run: bun format --staged --no-errors-on-unmatched

biome-lint:
  run: bun lint:biome:fix --staged --no-errors-on-unmatched

Remove Nuxtr VS Code extension
  .vscode/extensions.json
  .vscode/settings.json
  lefthook.yaml
Due: biome-format

chore: Remove Nuxtr VS Code extension (#308)
  .vscode/extensions.json
  .vscode/settings.json
  lefthook.yaml
Due: biome-format

chore: update dependencies
  bun.lock
  package.json
Due: biome-format

chore: Update dependencies (#311)
  bun.lock
  package.json
Due: biome-format

chore: Update Nuxt dependency upgrade command to use nuxi with dedupe option
  .github/workflows/update-nuxt-deps.yml
Due: none

chore(deps): update various dependencies including Valibot, Nuxt, ESLint, and Vitest
  bun.lock
Due: none

chore(deps): remove npm update configuration from dependabot.yml
  .github/dependabot.yml
Due: none

chore: Update dependencies (#312)
  bun.lock
  package.json
Due: biome-format

chore: update nuxt dependencies
  bun.lock
Due: none

chore: Update Nuxt dependencies (#313)
  bun.lock
Due: none

Update Cursor rules
  .cursor/rules/files.mdc
  .cursor/rules/shared.mdc
  .cursor/rules/test.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/vue.mdc
Due: none

chore: Update Cursor rules (#314)
  .cursor/rules/files.mdc
  .cursor/rules/shared.mdc
  .cursor/rules/test.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/vue.mdc
Due: none

chore: update nuxt dependencies
  bun.lock
  package.json
Due: biome-format

chore: Update Nuxt dependencies (#316)
  bun.lock
  package.json
Due: biome-format

chore: Update dependencies (#317)
  bun.lock
  package.json
Due: biome-format

chore: Update dependencies (#318)
  bun.lock
  package.json
Due: biome-format

chore: Update dependencies (#319)
  bun.lock
  package.json
Due: biome-format

Modify the spaced repetition logic
  bun.lock
  package.json
  server/api/answer-text.ts
  server/utils/getNextMemoryLevel.ts
Due: biome-format, biome-lint

feat: Modify the spaced repetition logic (#320)
  bun.lock
  package.json
  server/api/answer-text.ts
  server/utils/getNextMemoryLevel.ts
Due: biome-format, biome-lint

Show memory level
  app/components/MemoryLevelMeter.vue
  app/pages/quiz.vue
  app/types/quiz.ts
  eslint.config.mjs
  server/utils/getNextMemoryLevel.ts
Due: biome-format, biome-lint

Apply automatic changes
  server/@types/env.d.ts
Due: biome-format, biome-lint

feat: Show memory level (#321)
  app/components/MemoryLevelMeter.vue
  app/pages/quiz.vue
  app/types/quiz.ts
  eslint.config.mjs
  server/@types/env.d.ts
  server/utils/getNextMemoryLevel.ts
Due: biome-format, biome-lint

Use Prettier for vue files
  .vscode/settings.json
  app/components/LevelSelectorModal.vue
  app/components/MemoryLevelMeter.vue
  app/components/NavigationMenu.vue
  app/pages/admin/texts.vue
  app/pages/login.vue
  app/pages/match-words.vue
  app/pages/quiz.vue
  app/pages/text.vue
  bun.lock
  package.json
  prettier.config.cjs
Due: biome-format, biome-lint

chore: Use Prettier for vue files (#322)
  .vscode/settings.json
  app/components/LevelSelectorModal.vue
  app/components/MemoryLevelMeter.vue
  app/components/NavigationMenu.vue
  app/pages/admin/texts.vue
  app/pages/login.vue
  app/pages/match-words.vue
  app/pages/quiz.vue
  app/pages/text.vue
  bun.lock
  package.json
  prettier.config.cjs
Due: biome-format, biome-lint

chore: Update dependencies (#323)
  bun.lock
  package.json
Due: biome-format

chore: Update Nuxt dependencies (#324)
  bun.lock
  package.json
Due: biome-format

chore: Update Nuxt dependencies (#325)
  bun.lock
  package.json
Due: biome-format

Remove explicit-function-return-type ESLint rule
  eslint.config.mjs
Due: none

Update cursor rules
  .cursor/rules/typescript.mdc
  .cursor/rules/vue.mdc
Due: none

Update tsconfig
  server/tsconfig.json
Due: biome-format

Update API
  app/composables/useTextQuiz.ts
  app/pages/quiz.vue
  server/api/next-quiz.ts
Due: biome-format, biome-lint

Remove unused fiel
  app/types/quiz.ts
Due: biome-format, biome-lint

Fix
  app/composables/useTextQuiz.ts
  app/pages/quiz.vue
  server/api/next-quiz.ts
Due: biome-format, biome-lint

Path conditions:
  biome-format: any of: *.{js,ts,jsx,tsx,vue,json}
  biome-lint: any of: *.{js,ts,jsx,tsx,vue}
