Repository Tsuyoshi84/learn_tagalog: changes, and which lefthook commands are due for each by the changed paths.
All: biome-format, biome-lint

lefthook.yaml:

# Lefthook configuration file
# See https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

# Define pre-commit hooks
pre-commit:
  parallel: true
  commands:
    biome-format:
      glob: "*.{js,ts,jsx,tsx,vue,json}"
      run: bun format --staged --no-errors-on-unmatched
    biome-lint:
      glob: "*.{js,ts,jsx,tsx,vue}"
      run: bun lint:biome:fix --staged --no-errors-on-unmatched

Modify
  app/composables/useTextQuiz.ts
  app/pages/quiz.vue
Due: biome-format, biome-lint

Fix knip error
  .vscode/settings.json
  app/composables/useTextQuiz.ts
  knip.jsonc
Due: biome-format, biome-lint

feat: Update next-quiz API (#328)
  .cursor/rules/typescript.mdc
  .cursor/rules/vue.mdc
  .vscode/settings.json
  app/composables/useTextQuiz.ts
  app/pages/quiz.vue
  app/types/quiz.ts
  eslint.config.mjs
  knip.jsonc
  server/api/next-quiz.ts
  server/tsconfig.json
Due: biome-format, biome-lint

Update CI config
  .github/workflows/ci.yml
Due: none

Set up Code Rabbit config
  .coderabbit.yaml
Due: none

Add a trailing newline
  .coderabbit.yaml
Due: none

Use assertive profile
  .coderabbit.yaml
Due: none

Reorder rules
  .coderabbit.yaml
Due: none

chore: Set up Code Rabbit config (#329)
  .coderabbit.yaml
  .github/workflows/ci.yml
Due: none

Show message when there is no quiz
  app/pages/quiz.vue
Due: biome-format, biome-lint

feat: Show message when there is no quiz (#330)
  app/pages/quiz.vue
Due: biome-format, biome-lint

chore: update dependencies
  bun.lock
  package.json
Due: biome-format

chore: Update dependencies (#331)
  bun.lock
  package.json
Due: biome-format

chore: Remove update dependency CI
  .github/workflows/update-deps.yml
Due: none

chore: Update Dependabot config
  .github/dependabot.yml
Due: none

chore: Update TypeScript compiler options in nuxt.config.ts
  nuxt.config.ts
Due: biome-format, biome-lint

chore: Add TypeScript import extension rules to biome.json
  biome.json
Due: biome-format

chore: Update VSCode settings for TypeScript and GitHub Copilot integration
  .vscode/settings.json
Due: biome-format

chore: Update import statements to include file extensions for TypeScript files
  app/components/NavigationMenu.vue
  app/components/TextList.vue
  app/components/TextListItem.vue
  app/composables/useSentenceQuiz.spec.ts
  app/composables/useTextSearch.ts
  app/layouts/default.vue
  app/pages/confirm.vue
  app/pages/index.vue
  app/pages/login.vue
  app/pages/match-words.vue
  app/pages/quiz.vue
  app/utils/shuffle.spec.ts
  shared/utils/clamp.spec.ts
Due: biome-format, biome-lint

Update Coderabbit rules
  .coderabbit.yaml
Due: none

Add imports to test files
  app/composables/useSentenceQuiz.spec.ts
  app/utils/shuffle.spec.ts
  shared/utils/clamp.spec.ts
Due: biome-format, biome-lint

refactor: Add .ts extension to import statements (#332)
  .coderabbit.yaml
  .vscode/settings.json
  app/components/NavigationMenu.vue
  app/components/TextList.vue
  app/components/TextListItem.vue
  app/composables/useSentenceQuiz.spec.ts
  app/composables/useTextSearch.ts
  app/layouts/default.vue
  app/pages/confirm.vue
  app/pages/index.vue
  app/pages/login.vue
  app/pages/match-words.vue
  app/pages/quiz.vue
  app/utils/shuffle.spec.ts
  biome.json
  nuxt.config.ts
  shared/utils/clamp.spec.ts
Due: biome-format, biome-lint

chore: update nuxt dependencies
  bun.lock
  package.json
Due: biome-format

chore: Update Nuxt dependencies (#337)
  bun.lock
  package.json
Due: biome-format

chore: Enhance TypeScript configuration with Vue compiler options
  tsconfig.json
Due: biome-format

Add AppButton
  app/components/AppButton.vue
  app/pages/match-words.vue
Due: biome-format, biome-lint

Update
  tsconfig.json
Due: biome-format

feat: Update match-words page layout (#338)
  app/components/AppButton.vue
  app/pages/match-words.vue
  tsconfig.json
Due: biome-format, biome-lint

Update Biome to 2.0
  biome.json
  bun.lock
  package.json
Due: biome-format

Fix Biome errors
  .github/workflows/ci.yml
  app/composables/useTextSearch.ts
  app/stores/auth.ts
  drizzle.config.ts
  eslint.config.mjs
  lefthook.yaml
  server/db/index.ts
Due: biome-format, biome-lint

Rename to Biome Check
  .github/workflows/ci.yml
Due: none

Remove indentWidth
  biome.json
Due: biome-format

chore: Update Biome to 2.0 (#346)
  .github/workflows/ci.yml
  app/composables/useTextSearch.ts
  app/stores/auth.ts
  biome.json
  bun.lock
  drizzle.config.ts
  eslint.config.mjs
  lefthook.yaml
  package.json
  server/db/index.ts
Due: biome-format, biome-lint

fix: Remove unnecessary steps from ci.yml
  .github/workflows/ci.yml
Due: none

Remove .cusrorrules
  .cursorrules
Due: none

chore: Remove .cusrorrules (#348)
  .cursorrules
Due: none

Update Nuxt
  bun.lock
  package.json
Due: biome-format

Extract match words logic and make it composable
  app/composables/useMatchWords.spec.ts
  app/composables/useMatchWords.ts
  app/pages/match-words.vue
Due: biome-format, biome-lint

Update app/composables/useMatchWords.spec.ts
  app/composables/useMatchWords.spec.ts
Due: biome-format, biome-lint
